
.bundle
.byebug_history

chromedriver
/config/initializers/0*
/config/initializers/1*
/config/master.key
/config/mongoid.yml

/db/*.sqlite3
/db/*.sqlite3-*
.DS_Store

.env*

/log/*
!/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

/storage/*
!/storage/.keep

/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
*trash

/yarn-error.log
yarn-debug.log*
.yarn-integrity

vendor

w


