
.bundle
.byebug_history

config/initializers/00_s3.rb
config/initializers/08_integrations.rb
config/initializers/action_mailer.rb
config/master.key

/db/*.sqlite3
/db/*.sqlite3-*

.env*

/log/*
!/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

/storage/*
!/storage/.keep


/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
*trash

/yarn-error.log
yarn-debug.log*
.yarn-integrity

vendor

w-*
