
/.bundle
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/db/*.sqlite3
/db/*.sqlite3-*

/.env


/log/*
!/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

# Ignore uploaded files in development.
/storage/*
!/storage/.keep


/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
*trash

vendor
volumes/*
!volumes/.keep

wco_email_rb

/yarn-error.log
yarn-debug.log*
.yarn-integrity

zenv
