
<br /><br /><br />

.a20240802-contact-us
  %section
  .container
    .row
      .col-4.col-1
        Contact Us
      .col-8.col-2
        .d-inline-block
          .Btn.btn-primary Software Project
        %br
        .d-inline-block
          .Btn.btn-primary Investment
        %br
        .d-inline-block
          .Btn.btn-primary Business Inquiry
        %br
        .d-inline-block
          .Btn.btn-primary Media Inquiry
        %br
        .d-inline-block
          .Btn.btn-primary Other

    %br
    .row
      .col-4.col-1
        Or
      .col-8.col-2
        .d-inline-block
          .Btn Schedule a call

<br /><br /><br />
