
%section.a20240822-our-services.container

  .header
    %h2.title
      Our Services

  .row
    .col-md-6
      .Card.v202408.ror-js-dev
        %img{ alt: 'ror js dev', src: 'https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2024/08/22193409/300x300-motorcycle_2-rm-tiny.png' }
        %h5 Ruby on Rails + JavaScript
    .col-md-6
      .descr
        %h4
          Full-stack
          %br
          Web Development
        .buttonW
          %button.v202408
            Learn More

  .row
    .col-md-6
      .descr
        %h4
          UIUX, Frontend
          %br
          Web Development
        .buttonW
          %button.v202408
            Learn More
    .col-md-6
      .Card.v202408
        %img{ alt: 'atom', src: 'https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2024/08/22193732/200x200-atom-22-tiny.png' }
        %h5 React Js

  .row
    .col-md-6
      .Card.v202408
        %img{ alt: 'shield', src: 'https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2024/08/22194405/300x300-lady-ssl-rm-tiny.png' }
        %h5
          Security &
          %br
          Devops
    .col-md-6
      .descr
        %h4
          Securely Deploying
          %br
          Large Applications
        .buttonW
          %button.v202408
            Learn More

  .row
    .col-md-6
      .descr
        %h4
          We're no Strangers to
          %br
          Legacy Code
        .buttonW
          %button.v202408
            Learn More
    .col-md-6
      .Card.v202408
        %img{ alt: 'wrench', src: 'https://d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2024/08/22195712/300x300-wrench-tiny.png' }
        %h5
          Maintenance of
          %br
          existing code

