
.application-home.flexwidth

  - if current_user
    %h5 Hello.
    %div.d-flex.pb-2
      - if wco_email
        .pr-3= link_to 'email', '/email'
      - if iro
        .pr-3= link_to 'trading', '/trading'
      - if wco_hosting
        .pr-3= link_to 'hosting', '/hosting'


  - else
    Not logged in.

  User: #{current_user.inspect}
